mixin b-navigation(menuItems)
	.row
		.col
			nav.navbar.navbar-expand-lg.bg-light.border-bottom
				.navbar-brand(href="#") Yeti Agency
				button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
					span.navbar-toggler-icon
				.collapse.navbar-collapse(id="navbarNav")
					ul.navbar-nav
						each item in menuItems
							li.nav-item
								a.nav-link.text-primary(href= item.url)= item.name