-
	var menuItems = 
		[
			{
				url: '#',
				name: "One"
			},
			{
				url: '#',
				name: "Two"
			},
			{
				url: '#',
				name: "Three"
			},
			{
				url: '#',
				name: "Four"
			},
			{
				url: '#',
				name: "Five"
			},
			{
			url: '#',
			name: "Six"
			}
		];

-
	var listAdv =
		[
			{
				title: 'Photoshop',
				text: 'Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.'
			},
			{
				title: 'Javascript',
				text: 'Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.'
			},
			{
				title: 'Marketing',
				text: 'Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.'
			}
		];

-
	var quantityWorks =
		[
			{
				number: '28',
				name: 'Websites'
			},
			{
				number: '43',
				name: 'Apps'
			},
			{
				number: '95',
				name: 'Ads'
			},
			{
				number: '59',
				name: 'Cakes'
			},
			{
				number: '18',
				name: 'Logos'
			}
		];
			