mixin b-footer(menuItems)
    .container
        .row
            .col
                nav.navbar.navbar-expand-xs
                    ul.navbar-nav
                        each item, index in menuItems
                            if index < 4
                                li.nav-item
                                    a.nav-link.text-primary(href= item.url)= item.name
