@import 's/mixins'
@import 's/main'
@import '../blocks/features/features'
@import '../blocks/footer/footer'
@import '../blocks/gallery/gallery'
@import '../blocks/header/header'
@import '../blocks/navigation/navigation'