mixin b-header()
	.header.text-center.py-5
		h1 Changing the World Through Design
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.
		<button type="button" class="btn btn-primary btn-lg">Learn More</button>
		<button type="button" class="btn btn-outline-primary btn-lg">Learn Less</button>
	hr