mixin b-header()
	.header.text-center.py-5
		h1.mb-3 Changing the World Through Design
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.
		button.btn.btn-primary.btn-lg.mr-4(type="button") Learn More
		button.btn.btn-outline-primary.btn-lg(type="button") Learn Less
	hr