body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.text-primary {
  margin: 0;
}

.nav-item {
  list-style: none;
}

.btn {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}

.navbar-brand {
  color: #000;
}