body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
}

.text-primary {
  margin: 0;
}

.footer__text {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #f00;
}

li {
  list-style: none;
}

li li {
  display: inline-block;
}

.navbar-brand {
  color: #000;
}